{% extends "base.html" %}
{% block title%}Сброс пароля{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<div class="container my-5 w-50">
    <h2 class="my-3">Сброс пароля</h2>
    <p>Пожалуйста, введите новый пароль.</p>
     <form method="post" class='my-3 w-75'>
        {% csrf_token %}
        {% for field in form %}
            <div class="my-2">
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}: </label>
                {{ field }}
                <div class="invalid-feedback my-2">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        <div class="my-2">{{ form.non_field_errors }}</div>
        <button type="submit" class="btn btn-dark">Сбросить пароль</button>
    </form>
</div>
{% endblock %}