{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<div class="container mx-5 my-5 w-50">
    <h2>Смена пароля</h2>
    <form method="post" class='my-3 w-75'>
        {% csrf_token %}
        {% for f in form %}
            <div class="my-2">
                <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>
                {{ f }}
            <div class="invalid-feedback my-2">{{ f.errors }}</div>
            </div>
        {% endfor %}
        <div class="my-2">{{ form.non_field_errors }}</div>
        <button type="submit" class="btn btn-dark mt-3">Изменить пароль</button>
    </form>
</div>
{% endblock %}