{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<div class="container mx-5 my-5 w-50">
    <h2>Сброс пароля</h2>
        <form method="post" class='my-3 w-75'>
            {% csrf_token %}
            {% for field in form %}
                <div class="my-2">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}: </label>
                    {{ field }}
                    <div class="invalid-feedback my-2">
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}
            <div class="my-2">{{ form.non_field_errors }}</div>
            <button type="submit" class="btn btn-dark mt-3">Сбросить пароль</button>
        </form>
</div>
{% endblock %}