{% extends "base.html" %}
{% block title %}Чат{% endblock title %}
{% block navbar %}{% endblock navbar %}
{% block content %}

<div class="modal" tabindex="-1" aria-labelledby="modallabel-clearChat" aria-hidden="true" id="modal-clearChat">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Очистка чата</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <p>Вы уверены, что хотите очистить чат?</p>
      </div>
      <div class="modal-footer">
        <form method="post" id="clear-chat-form">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger" name="clear_chat" value="clear">Очистить</button>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div id="chat" class="container py-5">
    <div class="row justify-content-center">
        <div class="col col-xl-11 col-xxl-10">
            <div class="text-end fw-bold mb-2" id="model-version">

            </div>
            <div id="messages" class="border rounded p-3 mb-3 d-flex flex-column" style="height: 550px; overflow-y: scroll;">
                {% for message in messages %}
                    <div class="message card d-inline-flex my-2 px-3 py-3 {% if message.role == 'user' %}align-self-end bg-dark-subtle{% else %}align-self-start{% endif %}">
                        <h5 class="card-title {% if message.role == 'user' %}text-end{% else %}text-start{% endif %}">
                            {% if message.role == 'user' %}
                                {% if user.last_name and user.first_name %}
                                    {{ user.last_name }} {{ user.first_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                            {% else %}
                            Ассистент
                            {% endif %}
                        </h5>
                        <p class="card-text message-content">
                            {{ message.content }}
                        </p>
                    </div>
                    {% empty %}
                    <h2 class="text-center" style="opacity: 0.5; height: 200px;" id="start-dialog">Для начала диалога с ассистентом отправьте первое сообщение!</h2>
                {% endfor %}
            </div>
            <form id="message-form" method="post" class="row align-items-center justify-content-center text-center">
                {% csrf_token %}
                <div class="col-10" id="message-input-container">
                    {% if balance > 0 and user_tokens_obj.tokens_available > 0 %}
                        {{ form.content }}
                    {% else %}
                    <div class="alert alert-warning text-center" role="alert">
                        <h5>Сообщения отправить невозможно. Проблемы с Proxy API или недостаточно токенов</h5>
                    </div>
                    {% endif %}
                </div>
                <div class="col mt-2 align-self-center" id="message-buttons">
                    <button type="submit" class="btn btn-dark mx-2 mx-xl-0" id='send-message-btn'
                    name="send_message" value="true">Отправить</button>
                    <button type="button" class="btn btn-outline-danger btn-sm mt-xl-3 mx-2 mx-xl-0"
                    data-bs-toggle="modal" data-bs-target="#modal-clearChat" id="clear-button">Очистить</button>
                </div>
            </form>
            <div class="text-start fw-bold my-2" id="user-tokens">
                <p id="user-tokens-available">Осталось токенов: {{ user_tokens_obj.tokens_available }}</p>
                <p class="text-muted">Токены начисляются каждый день</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    {% if balance <= 0 or user_tokens_obj.tokens_available <= 0 %}
        const mesBtns = document.getElementById("message-buttons");
        const mesNtn = document.getElementById("send-message-btn");
        if (mesNtn) {
            mesBtns.removeChild(mesNtn);
        }
    {% endif %}
    document.getElementById("messages").scrollTop = document.getElementById("messages").scrollHeight;
    function sendMessage(e) {
        e.preventDefault();
        const input = document.getElementById("message-input");
        const message = input.value;
        input.value = '';
        if (document.getElementById("start-dialog")) {
            document.getElementById("start-dialog").style.display = "none";
        }
        const userMsg = document.createElement('div')
        userMsg.classList.add("message", "card", "d-inline-flex", "my-2", "px-3", "py-2", "align-self-end", "bg-dark-subtle");
        userMsg.innerHTML = `<h5 class="card-title text-end">{{ user.username }}</h5>
                            <span class="card-text message-content">${message}</span>`;
        document.getElementById("messages").appendChild(userMsg);

        const loadingMsg = document.createElement("div");
        loadingMsg.classList.add("text-center");
        loadingMsg.id = "loading-msg";
        loadingMsg.innerHTML = `<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                    <span class="visually-hidden">Загрузка...</span>
                                </div>`;
        document.getElementById("messages").appendChild(loadingMsg);
        document.getElementById("messages").scrollTop = document.getElementById("messages").scrollHeight;
        

        fetch("{% url 'chatbot:chat' %}", {
             method: "POST",
             headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
             body: JSON.stringify({ message: message, name: "send_message" })
        })
        .then(response => response.json())
        .then(data => {
            // добавляем ответ модели
            if (loadingMsg) {
                document.getElementById("messages").removeChild(loadingMsg);
            }
            if (data.reply) {
                const botMsg = document.createElement('div');
                botMsg.classList.add("message", "card", "d-inline-flex", "my-2", "px-3", "py-2", "align-self-start");
                botMsg.innerHTML = `<h5 class="card-title">${data.role}</h5>
                                    <p class="card-text message-content">${data.reply}</p>`;
                document.getElementById("messages").appendChild(botMsg);
                document.getElementById("model-version").textContent = `Используется модель: ${data.model}`;
                document.getElementById("user-tokens-available").textContent = `Осталось токенов: ${data.user_tokens}`;
            } else if (data.error) {
                // Обработка ошибки
                const errorMsg = document.createElement('div');
                errorMsg.classList.add("message", "card", "d-inline-flex", "my-2", "px-3", "py-2", "align-self-start");
                errorMsg.innerHTML = `<h5 class="card-title">Ошибка</h5>
                                    <p class="card-text message-content">${data.error}</p>`;
                document.getElementById("messages").appendChild(errorMsg);
            } else if (data.no_tokens) {
                // Обработка случая, когда токены закончились
                const noTokensMsg = document.createElement('div');
                noTokensMsg.classList.add("message", "card", "d-inline-flex", "my-2", "px-3", "py-2", "align-self-start");
                noTokensMsg.innerHTML = `<h5 class="card-title">Ошибка</h5>
                                        <p class="card-text message-content">У вас недостаточно токенов для отправки сообщения.</p>`;
                document.getElementById("messages").appendChild(noTokensMsg);
                document.getElementById("user-tokens-available").textContent = `Осталось токенов: ${data.user_tokens}`;
                const mesInput = document.getElementById("message-input");
                if (mesInput) {
                    mesInput.classList.add("d-none");
                }
                const mesInputContainer = document.getElementById("message-input-container");
                mesInputContainer.innerHTML = `<div class="alert alert-warning text-center" role="alert">
                        <h5>Сообщения отправить невозможно. Проблемы с Proxy API или недостаточно токенов</h5>
                    </div>`;
                    const mesBtns = document.getElementById("message-buttons");
                    const mesNtn = document.getElementById("send-message-btn");
                    if (mesNtn) {
                        mesBtns.removeChild(mesNtn);
                    }
            }

            // скролл вниз
            document.getElementById("messages").scrollTop = document.getElementById("messages").scrollHeight;
        });
    };

    function clearChat(e) {
        // Очистка чата
        e.preventDefault();
        fetch("{% url 'chatbot:chat' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify({ name: "clear_chat" })
        })
        .then(response => response.json())
        .then(data => {
            if (data.clear) {
                const modalEl = document.getElementById("modal-clearChat");
                const modal = bootstrap.Modal.getOrCreateInstance(modalEl);
                modal.hide();
                document.getElementById("messages").innerHTML = '<h2 class="text-center" style="opacity: 0.5; \
        height: 200px;" id="start-dialog">Для начала диалога с ассистентом отправьте первое сообщение!</h2>';
                document.getElementById("model-version").textContent = '';
            }
        });
    }

    document.getElementById("message-form").addEventListener("submit", sendMessage);
    document.getElementById("clear-chat-form").addEventListener("submit", clearChat);
</script>
{% endblock js %}